<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintGaransi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
		<add name="LSBUConnection" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=LSBU;Integrated Security=True"/>
    </connectionStrings>
<userSettings>
        <PrintGaransi.Properties.Settings>
                <setting name="ServerIP" serializeAs="String">
                        <value />
                </setting>
                <setting name="Port" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Location" serializeAs="String">
                        <value />
                </setting>
                <setting name="LocationID" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ProductType" serializeAs="String">
                        <value />
                </setting>
                <setting name="ScanTime" serializeAs="String">
                        <value />
                </setting>
                <setting name="Mode" serializeAs="String">
                        <value />
                </setting>
                <setting name="PrinterType" serializeAs="String">
                        <value />
                </setting>
                <setting name="CheckBoxChecked" serializeAs="String">
                        <value>False</value>
                </setting>
        </PrintGaransi.Properties.Settings>
    </userSettings>
</configuration>
